body {
  margin: 0;
  color: #000;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul li {
  list-style-type: none;
  padding: 0;
}
.box-design {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.wrapper header {
  background: #27497a;
  order: 1;
  height: 50px;
  flex: 1;
  padding: 10px 20px;
}
.wrapper header .logo {
  color: #eee;
  font-size: 30px;
  padding: 5px 20px;
}
.wrapper .main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  order: 2;
}
.wrapper .main-container aside {
  background: #eee;
  flex: 1;
  order: 1;
  min-height: 500px;
}
.wrapper .main-container aside nav ul li {
  width: 100%;
  padding: 10px 20px;
  height: 10px;
}
.wrapper .main-container aside nav ul li:hover {
  text-decoration: underline;
}
.wrapper .main-container section.main-content {
  order: 2;
  flex: 5;
}
.wrapper .main-container section.main-content h1 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper .main-container section.main-content .top-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper .main-container section.main-content .top-content .top-widgets {
  background: #434343;
  min-height: 100px;
  width: 250px;
  padding: 10px;
}
.wrapper .main-container section.main-content .top-content .top-widgets:nth-child(1) {
  background: #00c0ef;
}
.wrapper .main-container section.main-content .top-content .top-widgets:nth-child(2) {
  background: #dd4b39;
}
.wrapper .main-container section.main-content .top-content .top-widgets:nth-child(3) {
  background: #00a65a;
}
.wrapper .main-container section.main-content .top-content .top-widgets:nth-child(4) {
  background: #f39c12;
}
.wrapper footer {
  height: 50px;
  padding: 10px 50px;
  background: #eee;
  order: 3;
  flex: 1;
  display: flex;
}
.wrapper footer div.copyright {
  font-size: 12px;
  flex: 1;
  font-size: 16px;
  margin: auto;
}
.wrapper footer nav {
  flex: 2;
}
.wrapper footer nav ul li {
  padding: 5px 10px;
  float: left;
}
